%jakarta-normal-500 {
    font: {
        family: "Plus Jakarta Sans", sans-serif;
        weight: 500;
        style: normal;
    }
}

%jakarta-bold-700 {
    font: {
        family: "Plus Jakarta Sans", sans-serif;
        weight: 700;
        style: normal;
    }
}